<label id="balance">Your Balance: {{user.balance}}</label>
<div id="wagerOptions">
  <button id="one" (click)="_addToWager(1)">$1</button>
  <button id="five" (click)="_addToWager(5)">$5</button>
  <button id="twentyFive" (click)="_addToWager(25)">$25</button>
  <button id="oneHundred" (click)="_addToWager(100)">$100</button>
  <button id="fiveHundred" (click)="_addToWager(500)">$500</button>
  <button id="clearWager" (click)="_clearWager()">Clear Wager</button>
</div>
<label id="wager">{{wager}}</label>
<button id="playBtn" (click)="startGame()">Play!</button>
<div id="playArea" class="hidden">
  <label id="playerHand"></label>
  <label id="houseHand"></label>
  <label id="nextMove"></label>
  <button id="hitBtn" (click)="hit()">Hit me!</button>
  <button id="stayBtn" (click)="stay()">Stay.</button>
  <button id="playAgain" class="hidden" (click)="playAgain()">Play Again?</button>
</div>
